# Auto detect text files and perform LF normalization
* text=auto

# PHP
*.php text eol=lf

# Markdown
*.md text eol=lf

# JSON
*.json text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# XML
*.xml text eol=lf

# Config
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Exclude from archive
/.github export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/phpstan.neon export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
CONTRIBUTING.md export-ignore
CHANGELOG.md export-ignore
UPGRADE.md export-ignore
FAQ.md export-ignore
SECURITY.md export-ignore

